{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="{{url_for('get_softwares')}}">Softwares</a>
  <a class="navbar-brand" href="{{url_for('find_config')}}">Best Config</a>
  <a class="navbar-brand" href="{{url_for('get_laptops')}}">Laptops</a>
</nav>

<form action="{{ url_for('insert_software') }}" method="POST">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Software Main Information
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-5">
              <label for="software_name">Software Name:</label>
              <input class="form-control" type="text" name="software_name">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-5">
              <label for="produced_by">Produced by:</label>
              <input class="form-control" type="text" name="produced_by">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            Minimum Hardware requirements
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
              <label for="proc_gen">Processor Generation</label>
              <input class="form-control" type="text" name="proc_gen">
            </div>

            <div class="col-12 col-md-2 col-lg-2">
              <label for="proc_gen">Cores:</label>
              <input class="form-control" type="number" name="proc_cores">
            </div>

            <div class="col-12 col-md-2 col-lg-2">
              <label for="proc_cores">Processor cores:</label>
              <input class="form-control" type="number" name="proc_cores">
            </div>

            <div class="col-12 col-md-2 col-lg-2">
              <label for="proc_max">Min frequency:</label>
              <input class="form-control" type="number" step="0.1" placeholder="GHz" name="proc_min">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            Minimum Memory and Hard drive
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <label for="ram_size">Installed memory size:</label>
              <input class="form-control" type="number" placeholder="Memory installed in GB" name="ram_size">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="hard_drive">Hard Drive</label>
              <input class="form-control" type="number" placeholder="Hard drive in GB" name="hard_drive">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            Discrete Graphics Card
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-2">
              <label class="form-check-label" for="gpu">
                Discrete graphic card needed?
              </label>
              <input class="form-check-input large" type="checkbox" value="false" id="gpu">

            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
              <label for="gpu_ram">Graphics card memory in GB:</label>
              <input class="form-control" type="number" step="0.5" name="gpu_ram">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
            aria-expanded="false" aria-controls="collapseFive">
            Main Connection Ports needed?
          </button>
        </h5>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              Other
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <label for="exampleFormControlTextarea1">Please add any additional requirements</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven">
                Copy a link from the web to an image to this software.
              </button>
            </h5>
          </div>

          <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
              <div class="col-12 col-md-6 col-lg-4">
                <label for="img_source">Link to an image of the software:</label>
                <input class="form-control" type="text" placeholder="Link to an image of the model" name="img_source">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Submit-btns" style="float: right;">
      <button type="submit" class="btn btn-success" name="action">Add machine</button>
      <button type="button" class="btn btn-danger" href="{{url_for('get_laptops')}}">Cancel</button>
    </div>

</form>

{% endblock content %}