{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand" href="{{url_for('get_softwares')}}">Softwares</a>
  <a class="navbar-brand" href="{{url_for('find_config')}}">Best Config</a>
  <a class="navbar-brand" href="{{url_for('get_laptops')}}">Laptops</a>
</nav>
<div class="container-fluid">
  <div class="row">
{% for laptop in Laptops %}

    <div class="col-sm-12 col-md-6 col-lg-2">
      <div class="card" style="width: 18rem;">
        <img src="{{laptop.img_source}}" class="card-img-top" alt="Laptop image missing" style="max-height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{laptop.model_name}}</h5>
          <p class="card-text">A {{laptop.proc_gen}}th generation
            {{laptop.proc_cores}} core processor laptop with {{laptop.ram_size}}Gb ram and with {{laptop.hard_drive}}GB hard drive.</p>
        </div>
      </div>


    </div>

{% endfor %}
{% endblock content %}
</div>
</div>
