<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        {%for laptop in Laptops %}
        {{laptop.model_name}}
        {{laptop.model_number}}
        {{laptop.screen_size}}
        {{laptop.processor_type}}
        {{laptop.processor_gen}}
        {{laptop.discrete_video_card_exist}}
        {{laptop.video_card_vendor}}
        {{laptop.video_card_model_name}}
        {{laptop.ram_size}}
        {{laptop.ram_frequency}}
        {{laptop.hard_drive_exist}}
        {{laptop.hard_drive_capacity}}
        {{laptop.SSD_exist}}
        {{laptop.SSD_capacity}}
        {{laptop.operating_system}}
        {% endfor %}
                <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </body>
</html>